/*  Style Tablette */
@media (max-width : 1024px) and (min-width :640px) {

    header
    {
    flex-direction: row;
    } 
    header
    {   display:flex;
        width: 100%;
    }
    #Filtre h3{
        padding-top: 10px;
        margin-left: 15px;
    }

    #Filtre {
        flex-direction: row;
        align-items: flex-start; 
    }  

    #Filtre .Box_main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    #Filtre .Box {
         margin-left: 15px;
    }

    /*Hebergement*/

    #Hebergement {
        flex-direction:column-reverse; 
    }
    #HebergementResultat .Box{
        display: flex;
     
    }

    #HebergementPopulaire .Box{    
        display: flex;
        flex-direction: column;
     
    }

    /*Activités*/
    #Activites {	
        display: flex;
        flex-direction: column;
    }
}
   
    