/*  Style Tablette */
@media (max-width : 1024px) and (min-width :640px) {

    header
    {
    flex-direction: row;
    } 
    header
    {   display:flex;
        width: 100%;
    }

    #Hebergement {
        flex-direction:column-reverse; 
    }
    #HebergementResultat .Box{
        display: flex;
     
    }

    #HebergementPopulaire .Box{    
        display: flex;
        flex-direction: column;
     
    }
    #Activites {	
        display: flex;
        flex-direction: column;
    }
    


}
   
    