/* Définition d'une nouvelle police nommée Raleway */
@font-face {   font-family: 'Raleway';
        src: url('fonts/Raleway-SemiBold.ttf'),
             url('fonts/Raleway-Bold.ttf'),
             url('fonts/Raleway-Black.ttf');
}

body{
    margin:auto;
    font-family: 'Raleway', 'Arial' ;
}

#main_Container{
    width: 96%; 
    margin:auto;
}

#header{
    display:flex;
    width: 100%;
}

#header .Box{
    min-height: 50px;   
}

#header .Box:nth-child(1) {
    flex:3;  
} 

#header .Box:nth-child(2){
    flex:2; 
    padding-top:  15px; 
}
    
#header .Box:nth-child(3){
    flex:1; 
    align-self: flex-end;
    position:relative;
    padding-top:  15px;  
    color: #0065FC;
    font-weight: bold;  
    text-decoration: none;

}

/* Menu navigation */
.navigation {      
    padding: 0; margin: 0;      
    text-align: left;
}

.navigation li {
    list-style-type: none ;     
    display: inline;
    
}
    
.navigation a {
    display:inline-block;
	margin: 0 50px;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: #0065FC;
    border-bottom: 3px solid  #0065FC;
}
/*recherche */

#Recherche {
    display: flex;
    flex-direction: column;
}

#Recherche .formulaire {
    width: 45%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#Recherche .map{
    height: 45px;
    min-width: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
}

#Recherche .recherche_ville{  
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid#F2F2F2; 
}

input{
    border :none;
    font-size: 20px;
}

#Recherche .boutonrecherche { 
    height: 45px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #0065FC;
    padding: 0px 20px 0px 20px;
    border-radius: 0px 20px 20px 0px;
    color: white;
    font-size: 1rem;
    text-align: center;  
}

.boutonrecherche input{
    background-color: #0065FC;
    color: white;
}

.boutonrechercheicon {
    display: none; 
}

/* Filtres */
#filtre {
    display: flex;
    align-items: center;
   }
#Filtre .Box_main {
    width: 70%;
    display: flex;
    flex-wrap: wrap; 
    margin-top: 30px;
}

#Filtre .Box {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 25px;
    border: 3px solid #F2F2F2; 
}

#Filtre .iconefiltre{
    width: 35px;
    height: 35px;
    color:royalblue;
    border-radius: 50% / 50%;
    background-color :#DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 10px;
}

#Filtre .selection {
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    
}

#Filtre .Box:hover {
    cursor: pointer;
    background-color: #DEEBFF;
   
}
#info {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;

}

#info .iconefiltre{
    width: 25px;
    height: 25px;
    color:royalblue;
    border-radius: 50% / 50%;
    margin-top: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e2dcdc;
    margin-right: 10px;
}

/* Style section Hébergement */
#Hebergement
{    display:flex; 
    
}
#HebergementResultat
{
    background-color: #F2F2F2;
    flex: 5;    
    padding: 0px 20px 0px 20px  ;
    border-radius: 1em;
    margin-right: 1%;
}

#HebergementResultat .Box_main{
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
#HebergementResultat .Box{
    width: 30%;
    height: 190px;
    color: #000; 
    background-color: #FFF;
    border-radius: 1em;
    margin-bottom: 1em;
    border: 5px solid white; 
    border-radius: 20px 20px 20px 20px;
    line-height: 0px;
    text-decoration: none;
    cursor: pointer;
}
#HebergementResultat  img {
    width: 99%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#HebergementResultat .legende {
    color: black;
    
}

#HebergementPopulaire
{
    background-color: #F2F2F2;
    flex: 2;
    min-height: 50px;
    padding: 0px 20px 0px 20px  ;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

#HebergementPopulaire .Box{    
    height: 130px;  
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border: 5px solid white; 
    border-radius: 20px 20px 20px 20px;
    border-radius: 1em;
    margin:auto;
    margin-bottom: 1em;
}
#HebergementPopulaire .Hpopulaire{ 
    display: flex;
    line-height: 0px;
}


#HebergementPopulaire  img {
    width:150px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

#HebergementPopulaire .legende{

    color: black;
    padding-left: 15px;
}
#HebergementPopulaire  .nbretoile {
    margin-left: 20px;
    padding-left: 25px;
    margin: 0px;
    padding: 0px;
}
/* Style section Activités */

#activites {	
    padding: 10px 30px 0px 30px  ;
}

#activites .Box_main {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
	grid-column-gap: 1em;
	min-height: 600px;
	
}

#activites .Box {
	margin: 2em 0em 2em -1em;
	max-height: 100%;
	width: 100%;
	border: solid 1px #000;
	border-radius: 1em;  
	
}

#activites .Box:nth-child(1) {
	grid-row-start: 1;
	grid-row-end: 11;
	grid-column-start: 1;
	grid-column-end: 2;
}

#activites .Box:nth-child(2) {
	grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 2;
	grid-column-end: 3;	
}

#activites .Box:nth-child(3) {
	grid-row-start: 7;
	grid-row-end: 11;
	grid-column-start: 2;
	grid-column-end: 3;	
}

#activites .Box:nth-child(4) {
	grid-row-start: 1;
	grid-row-end: 11;
	grid-column-start: 3;
	grid-column-end: 4;	
}

#activites .Box:nth-child(5) {
	grid-row : 1 / 7;
	grid-column-start: 4;
	grid-column-end: 5;	
}

#activites .Box:nth-child(6) {
	grid-row-start: 6;
	grid-row-end: 11;
	grid-column-start: 4;
	grid-column-end: 5;	
}

/* Style section footer */

#footer
{
   background-color: #F2F2F2;
   display: flex;
   padding: 2em;
   justify-content: space-around;
}

#footer .Box
{
	width: 30%;
    height: 150px;
}

/* style Mobile */

@media (max-width: 640px) {

    #header
    {
    flex-direction: column;
    }
  
    #header .Box:nth-child(3){
       align-self: flex-end;
       position:absolute;
       top:5px; 
    }

    #Hebergement
    {
        flex-direction:column-reverse;
        
    }
	
    #HebergementResultat {
          margin-right: 0;       
     }

     /* flex-direction:column-reverse;*/
    #HebergementResultat .Box_main{
       
        margin-right: 2%;
     }

     #HebergementResultat .Box{
        width:100%;
        margin:auto;
        margin-bottom:10px;
        
     }

     #HebergementPopulaire {
        
        margin-bottom: 20px;
     }

     #activites .Box_main {
        display: flex;
        flex-direction: column;        
     }

     #activites .Box {
        min-height:150px;
        width:100%;
        margin:auto;
        margin-bottom:10px;    
     }

     #footer {
        
        flex-direction: column;        
     }
     #footer .Box {        
        width:100%; 
        margin-bottom: 1em;     
     }
     #Recherche .formulaire {
        width: 45%;
        height: 40px;
        display: flex;
        flex-direction: row;}

    
    .boutonrechercheicon { 
        height: 45px;
        width: 130px;
        padding: 0 20;
        display: flex;
        justify-content: center;
        align-items: center;
        display: list-item;
        background-color:  #0065FC;
        padding: 0px 20px 0px 20px;
        border-radius: 0px 20px 20px 0px;
        color: white;
        font-size: 25px;
        text-align: center;
    } 
    #Recherche .boutonrecherche { 
        display: none;
    }

}