/*  entre 6400px ET 1024px */
@media (max-width : 1024px) {

    header
    {
    flex-direction: column;
    } 
    header
    {  position: relative;
         display:flex;
        width: 100%;
    }
}
   
    