/***** style Mobile****** */

@media (max-width: 640px) {
   
    #main_Container{
        width: 100%; 
        margin: auto;
    }

    /*Header*/
    header{
    flex-direction: column;
    }
    header .Box:nth-child(1){
        margin-left: 15px;
        margin-top: 20px;
    }
    header .Box:nth-child(3){
       align-self: flex-end;
       position:absolute;
       margin-top:15px; 
       margin-right: 15px;
    }

    /*Navigation*/

    .menunav {
        border-bottom: 3px solid  #F2F2F2;
    }

    .menunav_heberge {
        border-bottom: 3px solid  #0065FC;
        border-top: transparent;
        padding-bottom: 15px;
    }

    .menunav_active {
        padding-bottom: 15px;
    }

    .menunav_active :hover {
        border-bottom: 3px solid  #0065FC;
        border-top: transparent;
        padding-bottom: 15px;
    } 

    /* Zone de Recherche */
    #Recherche{
        margin-left: 15px;
        margin-right: 15px;
    }

    #Recherche .formulaire {
        height: 40px;
        display: flex;
        flex-direction: row;
    }
    #Recherche .recherche_ville{  
        height: 40px;
        width: 240px;
        border-right:none;
    }
    
    #Recherche .boutonrecherche{
        display:none ;
    }

    #Recherche .iconboutonrecherche { 
        display: block;  
    }
      
    .iconrecherche {
         
       font-size: 33px;
       background-color: #0065FC;
       color: white;
       border-radius: 0px 10px 10px 0px;
       border :  3px solid  #0065FC ;
    }


    /* Zone Filtres*/
    
    #Filtre h3{
        padding-top: 20px;
        margin-left: 0px;
    }

    #Filtre {
        flex-direction: column;
        align-items: flex-start;  
    }  

    #Filtre .Box_main {
        display: flex;
        flex-wrap: wrap; 
        margin-top: 0px;
    }
    
    #Filtre .Box {
        margin-left: 0px;
    }
 
    /* Section Hébergement */

    /*flex-direction:column-reverse*/
    #Hebergement {
        flex-direction:column-reverse; 
    }
	
    #HebergementResultat {
        margin-right: 0; 
        background-color: white; 
     }

    /* HébergementResultat */

    #HebergementResultat .Box_main{
        margin-right: 2%; 
     }

     #HebergementResultat .Box{
        width:100%;
        margin:auto;
        margin-bottom:10px;
        box-shadow: 0 0 20px rgb(208, 208, 221);
     }

     /*Hebergement Plus Populaire */

    #HebergementPopulaire {
        margin-bottom: 20px;
        border-radius: 0em;
     }

    /* Section activités */

    #Activites .Box_main {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    }

    #Activites .Box {
    min-height: 150px;
    width: 100%;
    margin-bottom: 20px;
    }    
    
    #Activites .Box:nth-child(2) {
        height: 230px;
    }
      
    /*Section footer */
    footer {
        width: 100%; 
        margin-top: 30px;
    
     }

    footer .sous_titre:hover {
        cursor: pointer;
        text-decoration-line: underline;
    }
}